<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/demi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <title>Demi Lovato</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="../Demi.html">Pagina Inicial</a></li>
            <li><a href="../view/Albuns.html">Albuns</a></li>
            <li><a href="../view/informações.html">Informações</a></li>
            <li><a href="../view/contato.html">Contato</a></li>
        </ul>
    </nav>

    
    <div class="parallax"></div>

    <div style="height:1000px;background-color:red;font-size:36px">
        Scroll Up and Down this page to see the parallax scrolling effect.
        This div is just here to enable scrolling.
        Tip: Try to remove the background-attachment property to remove the scrolling effect.
        </div>

    <div class="parallax"></div>

    <div style="height:1000px;background-color:red;font-size:36px">
       Scroll Up and Down this page to see the parallax scrolling effect.
       This div is just here to enable scrolling.
       Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
    
    <div class="parallax2"></div>

    <div style="height:1000px;background-color:red;font-size:36px">
       Scroll Up and Down this page to see the parallax scrolling effect.
       This div is just here to enable scrolling.
       Tip: Try to remove the background-attachment property to remove the scrolling effect.
    </div>
    
    <div class="parallax2"></div>
   


    </body>
</html>