

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 { background-image: url("../img/wallpapperdemi1.jpg"); }
.img2 { background-image: url("../img/deha5yk-730c65d3-4f8d-4b9f-8c46-bd2788dfc519.jpg"); }
.img3 { background-image: url("../img/demi-lovato-2021-melon-cake-wallpaper.jpg") }
.img4 { background-image: url("../img/wallpapersden.com_demi-lovato-2021_1920x1080.jpg"); }


.bg-text { 
  background-color: rgba(0,0,0, 0.4);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  padding: 50px;
  text-align: center;
}



ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(245, 245, 237);
  }


  .parallax {
    /* The image used */
    background-image: url('../img/deha5yk-730c65d3-4f8d-4b9f-8c46-bd2788dfc519.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    
    background-image: url('../img/wallpapersden.com_demi-lovato-2021_1920x1080.jpg');

   
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }