<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/demi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <title>Albuns</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="../Demi.html">Pagina Inicial</a></li>
            <li><a href="../view/Albuns.html">Albuns</a></li>
            <li><a href="../view/trailer.html">Trailer</a></li>
            <li><a href="../view/fotos.html">Fotos</a></li>
            <li><a href="../view/sobre.html"> Sobre</a></li>
        </ul>
    </nav>

    
    <div class="parallax"></div>
    <div class="text">Don't Forget</div>

    <div style="height:300px;background-color:rgb(255, 255, 255);font-size:38px; text-align:center;">
       <h3>Dont'Forget</h3>
       <p style=" font: 30px Lato; opacity:0.69">Don't Forget é o álbum de estreia da cantora e compositora Demi Lovato. O álbum foi lançado em 23 de Setembro de 2008 
            nos Estados Unidos, alcançando a posição #2 na Billboard 200,e no dia 21 de Outubro de 2008 no Brasil.
            Em 2009, foi relançado em uma Deluxe Edition. Foi certificado Ouro pela RIAA; até novembro de 2012,
            havia vendido 500 mil cópias nos Estados Unidos.</p>
       
    </div>

    <div class="parallax2"></div>
    <div class="text2">Here We Go Again</div>
    <div style="height:300px;background-color:rgb(253, 251, 251);font-size:36px">
       <h3>Here We Go Again</h3>
       <p style="text-align:center; font: 30px Lato; opacity:0.69">
        Here We Go Again é o segundo álbum de estúdio gravado por Demi Lovato, lançado em 21 de julho de 2009 através da editora discográfica Hollywood. As sessões de composição para o disco foram realizadas em janeiro de 2009 e duraram apenas duas semanas; suas gravações começaram em abril do mesmo ano.
       </p>
    </div>
    
    <div class="parallax3"></div>
    <div class="text3">Unbroken</div>
    <div style="height: 300px;background-color:rgb(252, 252, 252);font-size:36px;">
        <h3>Unbroken</h3>
        <p style="text-align:center; font: 30px Lato; opacity:0.69">
            Unbroken é o terceiro álbum de estúdio da artista norte-americana Demi Lovato. Foi lançado em 19 de setembro de 2011 na Nova Zelândia e no dia seguinte nos Estados Unidos, pela Hollywood Records.O álbum foi recebido com críticas geralmente mistas ou positivas e estreou na quarta posição da Billboard 200, pela venda de 96 mil cópias em sua primeira semana de distribuição nos Estados Unidos. Também alcançou o top cinco na Nova Zelândia e no Canadá. O lançamento do seu primeiro single, "Skyscraper", ocorreu em 12 de julho de 2011 e ele alcançou a décima posição na Billboard Hot 100. 
        </p>

    </div>
    
    <div class="parallax4"></div>
    <div class="text4">DEMI</div>
    <div style="height:300px;background-color:rgb(252, 252, 252);font-size:36px;">
        <h3>Demi</h3>
        <p style="text-align:center; font: 30px Lato; opacity:0.69">
        Demi é o quarto álbum de estúdio da cantora norte-americana Demi Lovato. Foi lançado oficialmente em 14 de maio de 2013 pela gravadora Hollywood Records. Em alguns países da Oceania e Europa, o álbum foi lançado no dia 10 do mesmo mês.Em alguns países da Oceania e Europa, o álbum foi lançado no dia 10 do mesmo mês. Vendeu 110 mil cópias em sua primeira semana nos Estados Unidos, dois mil a mais que a antiga melhor semana de vendas de Lovato, o que lhe rendeu uma estreia na terceira posição da Billboard 200.
        </p>
    </div>
     
     <div class="parallax5"></div>
     <div class="text5">Confident</div>

     <div style="height:300px;background-color:rgb(252, 252, 252);font-size:36px;">
        <h3>Confident</h3>
        <p style="text-align:center; font: 30px Lato; opacity:0.69">
        Confident é o quinto álbum de estúdio da cantora estadunidense Demi Lovato. O seu lançamento ocorreu em 16 de outubro de 2015, através das gravadoras Hollywood, Island e Safehouse. O primeiro single do disco, "Cool for the Summer", foi lançado em 1º de julho de 2015. 
        </p>
    </div>
     
     <div class="parallax6"></div>
     <div class="text6">Tell Me You Love Me</div>
     <div style="height:300px;background-color:rgb(252, 252, 252);font-size:36px;">
       <h3>Tell Me You Love Me</h3>
       <p style="text-align:center; font: 30px Lato; opacity:0.69">
        Tell Me You Love Me é o sexto álbum de estúdio da cantora estadunidense Demi Lovato, lançado em 29 de setembro de 2017, através das gravadoras Hollywood Records, Island Records e Safehouse Records.O sexto álbum de Demi Lovato, vendeu o equivalente a 75 mil cópias na sua primeira semana de contagem nos Estados Unidos e lhe rendeu a 3ª posição da Billboard 200, onde conseguiu ficar de forma estável, é também o álbum mais bem sucedido da cantora no país, conquistando Certificado de Platina por 1,000,000 de cópias vendidas 🇺🇸. No Reino Unido, o álbum debutou na 5ª posição da UK Albums Chart.
       </p>
    </div>
     
     <div class="parallax7"></div>
     <div class="text7">Dancing With The Devil... The Art Of Starting Over</div>
     <div style="height:300px;background-color:rgb(252, 252, 252);font-size:36px;">
        <h3>Dancing With The Devil... The Art Of Starting Over</h3>
        <p style="text-align:center; font: 30px Lato; opacity:0.69">
            Dancing with the Devil... The Art of Starting Over é o sétimo álbum de estúdio da cantora estadunidense Demi Lovato, lançado em 2 de abril de 2021 através da Island Records.Várias versões do álbum foram disponibilizadas para pré-venda, incluindo capas alternativas, pacotes e uma edição exclusiva da Target com faixas bônus. Lovato mais tarde lançou duas versões do álbum, assim como uma versão deluxe do álbum, incluindo uma nova faixa, e três versões acústicas ao vivo de algumas canções do álbum, e uma edição expandida do álbum que foi lançada digitalmente, incluindo três faixas bônus lançadas anteriormente.
        </p>
    </div>
     
     <div class="parallax8"></div>
    


    </body>
</html>