<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/demi.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <title>Fotos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../Index.html">Pagina Inicial</a></li>
            <li><a href="../view/Albuns.html">Albuns</a></li>
            <li><a href="../view/trailer.html">Trailer</a></li>
            <li><a href="../view/fotos.html">Fotos</a></li>
            <li><a href="../view/sobre.html"> Sobre</a></li>
        </ul>
    </nav>

    

    <div style="text-align:center">
    <h3 class="Title2">Fotos De Demi Lovato</h3>
  </div>
  
  <div class="demi"> 
    <div class="demi1">
    <img src="../img/demi1.jpg" style="width:100%">
    <img src="../img/demi2.jpg" style="width:100%">
    <img src="../img/demi3.jpg" style="width:100%">
    <img src="../img/demi4.jpg" style="width:100%">
    <img src="../img/demi5.jpg" style="width:100%">
    <img src="../img/demi6.jpg" style="width:100%">
    <img src="../img/demi7.jpg" style="width:100%">
    <img src="../img/demi8.jpg" style="width:100%">
    <img src="../img/demi9.jpg" style="width:100%">
    <img src="../img/demi10.jpg" style="width:100%">
    <img src="../img/demi11.jpg" style="width:100%">
    <img src="../img/demi12.jpg" style="width:100%">
    <img src="../img/demi13.jpg" style="width:100%">
    <img src="../img/demi14.jpg" style="width:100%">
    <img src="../img/demi15.jpg" style="width:100%">
    </div>

    <div class="demi1">
    <img src="../img/demi16.jpg" style="width:100%">
    <img src="../img/demi17.jpg" style="width:100%">
    <img src="../img/demi18.jpg" style="width:100%">
    <img src="../img/demi19.jpg" style="width:100%">
    <img src="../img/demi20.jpg" style="width:100%">
    <img src="../img/demi21.jpg" style="width:100%">
    <img src="../img/demi22.jpg" style="width:100%">
    <img src="../img/demi23.jpg" style="width:100%">
    <img src="../img/demi24.jpg" style="width:100%">
    <img src="../img/demi25.jpg" style="width:100%">
    <img src="../img/demi26.jpg" style="width:100%">
    <img src="../img/demi27.jpg" style="width:100%">
    <img src="../img/demi28.jpg" style="width:100%">
    <img src="../img/demi29.jpg" style="width:100%">
    <img src="../img/demi30.jpg" style="width:100%">
    <img src="../img/demi31.jpg" style="width:100%">
    <img src="../img/demi32.jpg" style="width:100%">
    <img src="../img/demi33.jpg" style="width:100%">
    </div> 
    
  </div>
</body>
</html>