<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/demi.css">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body class="sobre">
    <nav>
        <ul>
            <li><a href="../Index.html">Pagina Inicial</a></li>
            <li><a href="../view/Albuns.html">Albuns</a></li>
            <li><a href="../view/trailer.html">Trailer</a></li>
            <li><a href="../view/fotos.html">Fotos</a></li>
            <li><a href="../view/sobre.html"> Sobre</a></li>
        </ul>
    </nav>
    

    
    <div class="header">
        <h2>Demi Lovato</h2>
    </div>
      
    <div class="texte">
        <div class="esquerda">

          <div class="card">
            
            <section>
            <h2>Demi Lovato</h2>
            <h5>Um pouco sobre a vida de Demi Lovato, Abril 02, 2022</h5>
            </section>

            <div class="smileimg" style="height:280px;"><img src="../img/deha5yk-730c65d3-4f8d-4b9f-8c46-bd2788dfc519.jpg"></div>
            <p>Demetria <span style="font-family:monospace">"Demi"</span> Devonne Lovato (Albuquerque, 20 de agosto de 1992) é uma personalidade estadunidense que atua como artista de canto, composição e atuação.</p>
            <p>A sua carreira cênica teve início em 2002, quando, aos nove anos de idade, ingressou no elenco da série de televisão infantil Barney e seus amigos, tornando-se internacionalmente popular apenas a partir de 2008, quando atuou como a protagonista Mitchie Torres no filme original do Disney Channel Camp Rock.</p>
            <p> Entre 2009 e 2011, participou da série de televisão Sunny entre Estrelas, interpretando a personagem-título, Sunny Munroe. Também compôs o júri da segunda e terceira temporadas da versão norte-americana do reality show The X Factor. Em março de 2021, se assumiu pansexual e de sexualidade fluida; em 19 de maio do mesmo ano revelou ser uma pessoa não binária e ter adotado os pronomes they/them em inglês.</p>
            </div>
            <div class="card">
            <section>
                <h2>Demi e sua carreira</h2>
            </section>
            <h5>Descrição prévia sobre a carreira de Demi Lovato, Abril 02, 2022</h5>
            <div class="smileimg" style="height:280px;"><img src="../img/wallpatellme.jpg"></div>
            <p>Em sua carreira musical, atua como artista solo, tendo lançado seu álbum de estreia, Don't Forget, em 2008. O disco debutou na segunda posição da parada Billboard 200, com a venda cerca de 89 mil cópias em sua primeira semana de distribuição, e mais tarde ganhou o certificado de ouro da RIAA, por ter vendido mais de 500 mil cópias nos Estados Unidos. Here We Go Again, seu segundo álbum, foi lançado em 2009 e alcançou o número um da Billboard 200, com 108 mil cópias vendidas na primeira semana.</p>
            <p>Seu terceiro álbum de estúdio, Unbroken, foi lançado em 20 de setembro de 2011 e vendeu 96 mil cópias na primeira semana, estreando na quarta posição da parada. Demi, o seu quarto disco de estúdio, foi lançado em 2013 e entrou na posição três da tabela musical, com 110 mil unidades distribuídas, e mais tarde recebeu um certificado de platina. Seu quinto álbum, Confident, saiu em 2015 e estreou em segundo na Billboard com 98 000 cópias. O seu sexto álbum, Tell Me You Love Me, foi lançado em setembro de 2017. O álbum acabou alcançando a posição de número três na Billboard 200. Lovato já teve quatro singles no top 10 da Billboard Hot 100, "This Is Me", "Skyscraper", "Heart Attack" e "Sorry Not Sorry", e mais quatro entre as 20 mais tocadas.</p>
          </div>
        </div>
        <div class="direita">

          <div class="card">
            <h3>Albuns Pulares</h3>
            <div class="smileimg"><a href="https://open.spotify.com/album/5Mu891tmjTbt64meovPSuf"><img src="../img/Tell_Me_You_Love_Me.jpg"></a></div><br>
            <div class="smileimg"><a href="https://open.spotify.com/album/56yYgfX6M5FlpETfyZSHkn"><img src="../img/confident.jpg"></a></div><br>
            <div class="smileimg"><a href="https://open.spotify.com/album/7LEb5SYZrXiB8NDj2oYvOd"><img src="../img/dancing-with-the-devilthe-art-of-starting-over.jpg"></a></div>
          </div>
          <div class="card">
            <h3>Redes Sociais</h3>
            <p><a href="https://www.facebook.com/DemiLovato"><img src="../img/facebook-original.svg" style="height: 40px;"></a></p>
            <p><a href="https://www.instagram.com/ddlovato/"><img src="../img/Instagram_icon.png.webp"  style="height: 40px;"></a></p>
          </div>
        </div>
    </div>
    
</body>
</html>