<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/demi.css">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailer</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../Index.html">Pagina Inicial</a></li>
            <li><a href="../view/Albuns.html">Albuns</a></li>
            <li><a href="../view/trailer.html">Trailer</a></li>
            <li><a href="../view/fotos.html">Fotos</a></li>
            <li><a href="../view/sobre.html"> Sobre</a></li>
        </ul>
    </nav>

    <h3 class="Title">Don't Forget - Trailer</h3>
    <video width="100%" height="100%" controls>
        <source src="../img/y2meta.com-Demi Lovato - Don't Forget - (Album Trailer)-(480p).mp4" type="video/mp4">
        <source src="../img/y2meta.com-Demi Lovato - Don't Forget - (Album Trailer)-(480p).mp4" type="video/ogg">
      </video>

      <h3 class="Title">Here We Go Again - Teaser</h3>
    <video width="100%" height="100%" controls>
        <source src="../img/y2meta.com-Demi Lovato - Here We Go Again [preview]-(480p).mp4"type="video/mp4">
      </video>

      <h3 class="Title">Unbroken - Trailer</h3>
      <video width="100%" height="100%" controls>
          <source src="../img/y2meta.com - Unbroken - 2012 Trailer - Demi Lovato(360p).mp4" type="video/mp4">
        </video>

        <h3 class="Title">Demi - Trailer</h3>
        <video width="100%" height="100%" controls>
            <source src="../img/y2meta.com-Demi Lovato - DEMI (Official Album Trailer)-(480p).mp4" type="video/mp4">
          </video>
  
          <h3 class="Title">Confident - Teaser</h3>
      <video width="100%" height="100%" controls>
          <source src="../img/y2meta.com-Demi Lovato - Confident (Teaser)-(480p).mp4" type="video/mp4">
        </video>
        <h3 class="Title">Tell Me You Loe Me - Teaser</h3>
      <video width="100%" height="100%" controls>
          <source src="../img/y2meta.com-Demi Lovato - Tell Me You Love Me (Teaser)-(480p).mp4" type="video/mp4">
        </video>

        <h3 class="Title">Dancing With The Devil...The Art Of Starting Over - Teaser</h3>
        <video width="100%" height="100%" controls>
            <source src="../img/y2meta.com - (Teaser) Demi Lovato - The Art Of Starting Over(Live Concept w_ interlude)(360p).mp4" type="video/mp4">
          </video>
 
    
</body>
</html>